.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5px;
  width: 98vw;
}

.labels {
  margin: 5px;
  color: green;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.checkbox:hover {
  background-color: transparent;
}

label {
  cursor: pointer;
  margin-right: 5px;
}

.chart-container {
  display: flex;
  justify-content: center;
  min-width: 1150px;
  overflow-x: auto;
}
