.home-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  padding: 2%;

}

.labels {
  margin: 5px;
  color: green;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.checkbox:hover {
  background-color: transparent;
}

label {
  cursor: pointer;
  margin-right: 5px;
}

.chart-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media (max-width: 1200px) {
  .home-dashboard {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0;
  }

}
