* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.student-dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
  width: 100vw;
  padding: 0;
}

.student-links {
  display: flex;
  flex-direction: column;
}

.allStudents {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.student {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  width: 100vw;
  flex-wrap: wrap;
}

li {
  padding: 3px;
}

.link {
  font-weight: bold;
  color: green;
}

.link:hover {
  background-color: blue;
}

h2 {
  text-decoration: underline;
}

.title {
  display: flex;
  justify-content: center;
}

.subHeader {
  display: flex;
  justify-content: center;
}
