* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fdc238;
}

body {
  background-color: #7f0920;
  color: #0a0408;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#appTitle {
  text-align: center;
  margin: 0px auto;
  display: block;
  font-family: "Staatliches", sans-serif;
  font-size: 80px;
}

#genreForm,
#playBtn {
  text-align: center;
  margin: 0px auto;
  display: block;
  font-family: "Fredoka One", sans-serif;
}

#movieInfo {
  width: 100%;
  margin: 20px auto;
  height: 60vh;
  display: grid;
  grid-template-columns: 19% 19% 1fr 19% 19%;
  /* padding: 0 2em; */
}

#movieInfo:after {
  content: "";
  display: table;
  clear: both;
}

#movieInfo > div {
  height: 60vh;
}

#moviePoster {
  grid-column: 2 / 3;
  /* border: 2px solid purple; */
  height: 100%;
}

img#moviePoster {
  height: 60vh;
  width: 100%;
}

#movieText {
  font-family: "Questrial";
  line-height: 1.1;
  font-size: .8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  grid-column: 3 / 4;
  /* border: 2px solid red; */
  position: relative;
}

/* liked movies div */

#likedMovies {
  /* border: 2px solid green; */
  grid-column: 5 / 6;
  /* width: 100%; */
  display: flex;
  overflow: auto;
  /* max-width: 60vh; */
}

#listLikedMovies {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  font-size: 0.9em;
  font-family: "Questrial";
}

#listLikedMovies > li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

#likedMoviePoster {
  width: 50px;
  height: 90px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

#movieTitle,
#movieOverview,
.vote-average,
.release-date {
  padding-left: 32px;
  padding-right: 32px;
}

.release-date {
  padding: 32px;
}

#playBtn {
  margin-top: 20px;
  font-size: 25px;
  padding: 13px 16px;
  border-radius: 10px;
  border-style: none;
  background-color: #b97828;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 25px;
}

select {
  width: 100px;
  height: auto;
  background-color: #b97828;
  padding: 7px 10px;
  border-radius: 5px;
  font-family: "Fredoka One", sans-serif;
  color: #fdc238;
}

#likeOrDislikeBtns {
  text-align: center;
  margin: 0px auto;
  padding-bottom: 10px;
  position: absolute;
  bottom: 0;
  right: 8%;
  z-index: 5;
}

#likeBtn,
#dislikeBtn {
  padding: 10px 20px;
  font-size: 25px;
  border-radius: 12px;
  border-style: none;
  cursor: pointer;
}

#likeBtn {
  background-color: #249e57;
  color: darkgreen;
}

#dislikeBtn {
  background-color: #c74a4a;
  color: #910000;
}

/* This is the scrollbar track */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #7f0920; /* Match the background color */
}

/* This is the scrollbar handle */
::-webkit-scrollbar-thumb {
  background: #b97828;
}

/* Add a hover effect to the scrollbar handle */
::-webkit-scrollbar-thumb:hover {
  background: #fdc238;
}

.back-arrow {
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  padding: 10px;
  margin: 10px 0;
  background-color: #f8f9fa;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
  color: #fdc238;
  background-color: #b97828;
}

@media (min-width: 951px) and (max-width: 1500px) {
  #movieInfo {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  #movieInfo > div {
    width: 30%;
  }
}

@media (max-width: 950px) {
  #movieInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  #moviePoster {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  #movieText {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  #likedMovies {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}
