.style-container {
    display: flex;
    justify-content: center;
}

.select-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 1;
  padding: 1em;
  width: 1000px;
  border-radius: 0 0 10px 10px;
}

#subreddit-select {
  display: flex;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 10px;
  height: 1.5em;
  font-size: 1.7em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  width: 320px;
}

#subreddit-select:hover {
  cursor: pointer;
  background-color: #f4f1f1;
}
