html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

.goals-display ul {
    display: flex;
    justify-content: flex-start;
    align-items: top;
    flex-flow: row wrap;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin-top: .7em;
    min-height: 120px;
    max-height: 310px;
    overflow-y: auto;
    scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.1); /* Firefox */
}

li {
    display: flex;
    list-style-type: none;
    font-size: 1.2em;
    font-weight: 500;
    color: white;
    padding: 1em;
    margin: .6em 0.5em 0.6em .5em;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 10px;
    height: 35px;
    align-items: center;
    justify-content: center;
}

li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

li:hover .trash-icon {
    opacity: 1; 
  }

.trash-icon {
    opacity: 0;
    transition: opacity 0.3s ease;
    font-size: .7em;
    margin-left: .5em;
    margin-bottom: .7em;
}

.trash-icon:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

/* Scrollbar styling */
.goals-display ul::-webkit-scrollbar {
    width: 10px;
  }
  
  .goals-display ul::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* Make it match with the div's background */
  }
  
  .goals-display ul::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
    border-radius: 5px;
  }
  
  .goals-display ul::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.6); /* Slightly less transparent when hovered */
  }

  @media (orientation: landscape) and (max-width: 700px) {
.goals-display ul {
    max-height: 180px;
    overflow-y: auto;
  }
}