* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dropdown-container {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 0;
}

.dropdown-container::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* border: 5px solid black; */
}

/************************ Hamburger-icon **********************************/
.hamburger-icon {
  position: absolute;
  z-index: 2;
  font-size: 40px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  background: transparent;
}

.hamburger-icon.home, .hamburger-icon.redditclient {
  color: black;
}

.hamburger-icon.inspirationalhomepage {
  color: rgba(255, 255, 255, 0.5);
}

/* .hamburger-icon.project2 {
  color: white;
} */

/* .hamburger-icon.project3 {
  margin-left: 7px;
} */

/********************************** Dropdown **************************/
.dropdown :not(.hamburger-icon) {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}


/************************ Dropdown-menu **********************************/
.dropdown.open .dropdown-menu {
  transform: translateX(0);
  height: 100vh;
  transition: transform 0.5s ease-in-out;
  width: 20vw;
  box-shadow: 10px 0 15px -10px rgba(0, 0, 0, 0.5);
  background-color: white;
  height: 100vh;
  /* display: flex;
  align-items: center;
  justify-content: center;   */
}

.dropdown.open .dropdown-menu.inspirationalhomepage {
  background-color: rgba(255, 255, 255, 0.3);
  font-weight: 800;
}

/* .dropdown.open .dropdown-menu.project2 {
  background-color: #2f556b;
}

.dropdown.open .dropdown-menu.project3 {
  background-color: white;
} */

/************************ Dropdown-item **********************************/

.dropdown-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  z-index: 2;
  width: 0%;
  height: 0px;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2em;
  font-weight: 500;
}

.linkFilmFinder {
  background-color: black;
  color: white;
  max-height: 70px;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}

.dropdown.open .dropdown-item {
  height: 70px;
  font-weight: 600;
  width: 100%;
}

.dropdown-item.home:hover, .dropdown-item.redditclient:hover {
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: inset 20vw 0 0 0 black;
  color: white;
}

.dropdown.open .dropdown-item.home, .dropdown.open .dropdown-item.redditclient {
  color: black;
}

.dropdown.open .dropdown-item.home:hover, .dropdown.open .dropdown-item.redditclient:hover {
  color: white;
}

.dropdown.open .dropdown-item.inspirationalhomepage{
  color: rgba(255, 255, 255, 0.8);
}

.dropdown.open .dropdown-item.inspirationalhomepage:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dropdown.open .dropdown-item.project2 {
  color: white;
  font-family: "Roboto", sans-serif;
}

.dropdown.open .dropdown-item.project2:hover {
  transition: font-size 0.3s ease;
  background-color: #2f556b;
  font-size: 1.8em;
}

.dropdown.open .dropdown-item.project3 {
  color: black;
}

.dropdown.open .dropdown-item.project3:hover {
  color: white;
  background-color: green;
}

/************************ Pseudo Elements **************************/
.dropdown-item::before,
.dropdown-item::after {
  content: "";
  pointer-events: none;
  position: absolute;
  border: 2px solid transparent;
  bottom: 0%;
  right: 0%;
  box-sizing: border-box;
}

.dropdown-item::before {
  border-bottom-width: 2px;
  border-left-width: 2px;
}

.dropdown-item::after {
  border-top-width: 2px;
  border-right-width: 2px;
}

.dropdown-item.open::before {
  transition-delay: 0s, 0s, 0.3s;
}

.dropdown-item.open::after {
  transition-delay: 0s, 0.3s, 0s;
}

.content.blurred::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(5px);
  z-index: 2;
}

/************************* Media Queries *****************************/
@media (max-width: 700px) {
  .dropdown.open .dropdown-menu {
    box-sizing: border-box;
    width: 99vw;
    height: calc(100vh - 90vh); 
  }

  .dropdown.open :not(.hamburger-icon) {
    flex-direction: row;
  }

  .dropdown.open .dropdown-item {
    height: auto;
    width: 100%;
    font-size: 1em;
    justify-content: space-around;
  }

  .dropdown-item.home:hover, .dropdown-item.redditclient:hover {
    box-shadow: inset 20vh 0 0 0 black;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }

  .dropdown.open .hamburger-icon,
  .dropdown-item.open .hamburger-icon,
  .hamburger-icon.open {
    visibility: hidden;
  }
}

@media (max-width: 500px) {
  .dropdown.open .dropdown-item {
    text-align: center;
  }
  .linkFilmFinder {
    text-align: center;
  }
}