* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding-bottom: 10%;
}

.picture-text-div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  overflow: auto;
  width: 60%;
  /* border: 5px solid black; */
}

.picture {
  width: 100%;
  align-items: center;
  max-width: 300px;
  height: auto;
  border-radius: 50%;
}

.text-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  white-space: nowrap;
  margin-left: 5%;
  border-left: 2px solid black;
  padding-left: 1.5%;
  line-height: 1.5;
  font-family: "Courier New", Courier, monospace;
}

.name {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

@keyframes blink {
  50% {
    color: transparent;
  }
}
.loader__dot {
  animation: 1s blink infinite;
}
.loader__dot:nth-child(2) {
  animation-delay: 250ms;
}
.loader__dot:nth-child(3) {
  animation-delay: 500ms;
}

.dynamic-content {
  height: 150px;
  overflow: auto;
  align-items: stretch;
}

.tagline {
  font-size: 1em;
  font-weight: 600;
  margin: 0.5em 0;
}

.sub-text {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  padding: 10%;
}
.icon {
  height: 2em;
  width: 2em;
  margin-right: 20px;
}

.react {
  font-size: 1.5em;
  font-weight: 600;
}

.python {
  font-size: 1.5em;
  font-weight: 600;
}

.codecademy-icon {
  height: 2.2em;
  width: 2.2em;
}

.arrow {
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
  height: 2em;
  width: 2em;
}

.arrow:hover {
  color: #333;
  transform: scale(1.5);
}

@media (max-width: 1100px) {
  .picture-text-div {
    width: 100%;
  }
}

@media (max-width: 700px) {
  .picture-text-div {
    flex-direction: column;
    height: 100%;
    margin-top: 8vh;
  }

  .text-div {
    border-left: none;
    border-top: 2px solid black;
    padding-top: 5%;
    margin-left: 0;
  }

  .picture {
    margin-bottom: 5%;
  }

  .name {
    padding-bottom: 0;
  }
}

@media (max-height: 500px) {
  .parent-div {
    padding-bottom: 0;
  }
  .dropdown.open .dropdown-menu.project2,
  .dropdown.open .dropdown-menu.project3 {
    height: calc(100vh + 200px);
  }
}
