.playlist {
  display: flex;
  justify-content: center;
  background-color: #452f6b;
  align-items: stretch;
}

.playlist-item {
  display: flex;
  width: 20%;
  color: white;
  font-size: 1em;
  border: 2px solid white;  
  padding: 5px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.delBtn {
  cursor: pointer;
}
