.root {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background: #cacaca;
    height: 100vh;
    overflow: hidden;
}

.menu-button {
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  border: none;
  background: white;
}

.menu-sidebar {
  position: absolute;
  width: 17%;
  height: 100vh;
  top: 5em;
  height: calc(100vh - 6em);
  left: 0;
  border-radius: 0 1em 1em 0;
  background: #ccc;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  background: linear-gradient(to bottom, rgba(245, 216, 184) 0%, rgb(15, 176, 184) 100%);
  /* border: 10px solid rgb(133, 196, 185); */
  /* border-left: none; */
}

.menu-sidebar.open {
  transform: translateX(0);
}

.tagline {
  font-size: 1em;
  font-weight: 600;
  margin: 0.5em 0;
  
}
